<Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline">
    <MenuItem Key="1" RouterLink="/">
        <Icon Type="dashboard" />
        <span>仪表盘</span>
    </MenuItem>
    <MenuItem Key="2" RouterLink="/config">
        <Icon Type="form" />
        <span>新测试</span>
    </MenuItem>
    <MenuItem Key="3" RouterLink="/stats">
        <Icon Type="line-chart" />
        <span>统计分析</span>
    </MenuItem>
</Menu>
